{% extends 'base.html'%}

{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
    
    <div class="container">
        <h1>Comment</h1>
        <div class="row">
            <div class="col-md-6"> 
                <h3>All comments</h3>
               
               <ol>
                   {% for comment in comments %}
                    <li> 
                        <p><strong>{{comment.comment}}</strong></p>
                        <p><em>commented by: {{comment.users.username}}</em></p>
                        <a href="#"><button class="btn btn-outline-danger text-center">Delete</button></a>
                    </li>
                    {% endfor %}
               </ol>
               
               



            </div>
            <div class="col-md-6">
        
                {{wtf.quick_form(form)}}
                
            </div>
           
        </div>
    </div>

{% endblock%}