{% extends "base.html" %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    {% block content%}
        <div class="container">
            <h1>Welcome to 1M-Pitch</h1><hr>
            <p>The website provide one minute pitches in different categories.</p>
            <div class="row">
                <p>Categories:</p>
                <div class="col-md-4">
                    <ul>
                        <a href="category/interview"><li>Interview Pitch</li></a>
                        <a href="category/product"><li>Product Pitch</li></a>
                        <a href="category/sales"><li>Sales Pitch</li></a>
                        <a href="category/promotion"><li>Promotion Pitch</li></a>
                    </ul>
                    
                    <button type="button" class="btn btn-outline-primary"> <a href="{{url_for('main.new_pitch',uname=current_user.username)}}">Add Pitch</a></button>
                </div>
                <div class="col-md-8">
                    <h3>Business Pitch</h3><hr>
                    <p>
                        There is no publicly available pitch deck for Slack, but let's assume the company is just starting up:

                        The average office worker receives 304 emails per week. They also attend an average of 62 monthly meetings, half of which they consider 'wasted time'. Slack was made to make work more efficient. It organizes conversations by channels and drastically reduces the need for emails or meetings. It's integrated with 100s of productivity tools like Google Docs, Calendars, Email, Dropbox, Zoom... so you can receive automatic notifications and take action without leaving the interface.
                    </p>
                    <p>Posted by: Kevin</p>
                    
                </div>
            </div>
        </div>
        <div class="container p-4">
          
            <div class="row p-4">
                <h2>Sample pitches</h2><hr>
                
            {% for pitch in pitchs%}
            <div class="card text-center col-md-6 p-4">
              
                <div class="card-header">
                  {{pitch.category}}
                </div>
                <div class="card-body">
                  <p class="card-text">
                    {{pitch.pitchContent}}
                  </p>
                  <h5 class="card-title">Posted by:{{pitch.pitchAuthor}} </h5>
                  <button class="btn btn-success float-start"  role="button"><i class="bi bi-hand-thumbs-up"></i>0</button>
                  <button class="btn btn-danger float-start" role="button"><i class="bi bi-hand-thumbs-down"></i>0</button>
                  <button class="btn btn-outline-primary float-end"><a href="{{url_for('main.new_comment',uname=current_user.username)}}">Comments</a></button><br><br><br>
                </div>
                <div class="card-footer text-muted">
                  posted on: {{pitch.posted}}
                </div>
                
            </div>{% endfor  %}
        </div>
    {% endblock %}
    </body>
</html>